on:
  pull_request:
  push:
    branches:
      - main

jobs:
  rebase:
    runs-on: ubuntu-latest
    steps:
      - uses: Piyushhbhutoria/auto-rebase@v1.0.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          filter: always
